<div class="content">
    <div class="contact-profile">
        <img id="roomImage" src="" alt="" />
        <p id="user"></p>
        <div class="social-media">
            <span id="onlinesCount"><strong>افراد آنلاین : </strong><span id="count"></span></span>
        </div>
    </div>
    <div id="roomName">
        <h3></h3>
    </div>
    <div class="messages">
        <ul></ul>
    </div>
    <div class="message-input">
        <div class="wrap">
            <input type="text" id="messageInput" placeholder="Write your message..." />
            <input type="file" id="fileInput"/>
            <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
            <div>
                <button class="submit">send</i></button>
                <button class="location">location</i></button>
            </div>
        </div>
    </div>
</div>